@import "../../styles/styles.scss";
.svg-box {
  height: 45%;
  width: 92%;
}
.svg {
  width: 100%;
  height: 379px;
}
.spotify-box {
  // height: 17px;
  width: 30%;
}
.spotify-img {
  width: 63%;
  height: 41px;
  border-radius: 50%;
}
