<div class="container">
  <div class="login-container ">
    <div class="login-logo-card">
      <div class="logo-card">
        <div class="img-box">
          <img class="img" src="assets/image/music.jpg" />
        </div>
        <h2 class="text logo-text">MUSIC</h2>
      </div>
    </div>

    <div class="login-btn-card">
      <div class="btn-card">
        <button class="login-btn">
          <a
            routerLink="https://deepasekhar.github.io/spotify-app/search"
            class="btn"
            href="{{ spotifyoAuthUrl }}"
          >
            Login With
          </a>

          <div class="spotify-box">
            <img class="spotify-img" src="assets/image/spotify.png" />
          </div>
        </button>
        <div class=" svg-box">
          <img class="  svg" src="assets/image/picture.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
