@import "flexbox";
@import "variables";

// *******login component*******
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 65%;
  border-radius: 22px;
  margin-bottom: 128px;
  background-color: $primaryColor;
  @include respond-to("small") {
    margin-bottom: 0px;
    margin-top: 15px;
    width: 51%;
  }
}
.btn {
  width: 70%;
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-family: "Bree Serif", serif;
  @include respond-to("small") {
    font-size: 15px;
  }
}

.back-button {
  color: white;
  background-color: black;
}

// ************search component**************
