@import "flexbox";
@import "variables";

// *******login component*******
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 65%;
  border-radius: 22px;
  margin-bottom: 128px;
  background-color: $primaryColor;
  @include respond-to("small") {
    margin-bottom: 0px;
    margin-top: 15px;
    width: 51%;
  }
  @include respond-to("medium") {
    margin-top: 63px;
    width: 43%;
  }
  @include respond-to("large") {
    width: 37%;
    margin-top: 0;
  }
  @include respond-to("large") {
    width: 36%;
  }
}
.btn {
  width: 70%;
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-family: "Bree Serif", serif;
  @include respond-to("small") {
    font-size: 15px;
  }
  @include respond-to("medium") {
    font-size: 17px;
  }

  @include respond-to("large") {
    padding: 7px;
  }
  @include respond-to("xlarge") {
    padding: 15px;
    font-size: 24px;
  }
}

// ************search component**************
// **************artist component********
.back-button {
  color: white;
  background-color: black;
  padding: 2px;
  margin-left: 14px;
  font-size: 19px;
  @include respond-to("xlarge") {
    padding: 7px;
    font-size: 22px;
  }
}
