// **********search component******

.card-container {
  display: flex;
  margin-top: 18px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 81%;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 42%;
  box-shadow: 0 2px 4px #888888;
  border: 1px solid black;
  @include respond-to("small") {
    width: 28%;
  }
  @include respond-to("large") {
    width: 22%;
  }
}

// ********artist component*********
// .artist-card {
//   width: 30%;
//   box-shadow: 0 2px 4px #888888;
//   border: 1px solid black;
// }
// **********album component*****
.album-url-card {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.url-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px #888888;
  @include respond-to("small") {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 75%;
  }
}
