@import "variables";
// *******login component********

.login-logo-card {
  display: none;
  box-shadow: 0 2px 4px #888888;
  background-color: $imagecardColor;

  @include respond-to("small") {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.logo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-btn-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 19);
  @include respond-to("small") {
    width: 50%;
  }
}
.btn-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #020213;
  @include respond-to("large") {
    flex-direction: row;
  }
}

// **********search component******

.card-container {
  display: flex;
  margin-top: 18px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 81%;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 42%;
  box-shadow: 0 2px 11px #888888;
  border: 1px solid black;
  // background-color: $primaryColor;
  @include respond-to("small") {
    width: 28%;
  }
  @include respond-to("large") {
    width: 22%;
  }
}
// *****artist component**********
.album-details {
  display: flex;
  flex-direction: column;
}
.album {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.card-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// **********album component*****
.album-card {
  overflow: scroll;
}

.album-url-card {
  display: flex;
  width: 95%;
  align-items: center;
  flex-direction: column;
  margin-top: 33px;
  @include respond-to("small") {
    align-items: flex-start;
  }
}
.url-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: #05054af2;
  padding: 0;
  align-items: center;
  box-shadow: 0 2px 4px #888888;
  @include respond-to("small") {
    width: 97%;
    border-radius: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  @include respond-to("large") {
    width: 80%;
  }
  @include respond-to("xlarge") {
    width: 81%;
  }
}
.album-box {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include respond-to("large") {
    align-items: flex-start;
    margin-left: 17px;
  }
  @include respond-to("large") {
    width: 71%;
  }
}
