@import "flexbox";
@import "variables";

// *******login-component******

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  @include respond-to("small") {
    width: 90%;
    height: 54%;
    display: flex;
    box-shadow: 0 2px 4px #888888;
  }
  @include respond-to("medium") {
    width: 83%;
  }
}

// ******search component********
.search-container {
  display: flex;
  height: 98%;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(2, 2, 19);
}
