@import "breakpoints";

// ********login-component******
.img-box {
  width: 85%;
}
.img {
  width: 100%;
  border-radius: 50%;
}
// *************search component*********
.card-img {
  width: 130px;
}
