.logo-text {
  letter-spacing: 3px;
  margin-bottom: 0;
  @include respond-to("small") {
    letter-spacing: 13px;
  }
  @include respond-to("xlarge") {
    letter-spacing: 22px;
  }
}

// *******search component*******
.text {
  color: white;
  text-decoration: none;
  // margin-top: 5px;
  // margin: 0 0 0 10px;
  // font-size: 14px;
}
.search-heading {
  color: white;
  font-size: 21px;
  @include respond-to("small") {
    font-size: 29px;
  }
  @include respond-to("xlarge") {
    font-size: 39px;
  }
}
.text-box {
  margin-left: 2px;
  border: 2px solid black;
  height: 30%;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(201, 194, 194);
  font-size: 15px;
  @include respond-to("small") {
    padding: 14px;
    margin-left: 10px;
  }
  @include respond-to("xlarge") {
    padding: 22px;
    font-size: 20px;
  }
}
.header-text {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid white;
  width: 100%;
}
.search-text {
  font-size: 17px;
  @include respond-to("small") {
    font-size: 21px;
  }
  @include respond-to("medium") {
    font-size: 23px;
  }
  @include respond-to("large") {
    font-size: 26px;
  }
  @include respond-to("xlarge") {
    font-size: 33px;
  }
}
// placeholder

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $placeholderColor;
  font-size: 12pt;
  @include respond-to("xlarge") {
    font-size: 17pt;
  }
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $placeholderColor;
  font-size: 12pt;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $placeholderColor;
  font-size: 12pt;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $placeholderColor;
  font-size: 12pt;
}
// **************artistcomponent************
.artist-heading {
  width: 100%;
  color: white;
  margin-left: 14px;
  text-decoration: underline;
  text-decoration-color: rgb(175, 172, 172);
}

// **************album component************
.album-description {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  @include respond-to("small") {
    width: 50%;
  }
}
.album-name {
  margin-left: 10px;
  font-weight: normal;
  font-size: 15px;
  margin: 29px 0 25px 0;
  @include respond-to("small") {
    font-size: 37px;
  }
  @include respond-to("large") {
    font-size: 47px;
  }
  @include respond-to("xlarge") {
    font-size: 71px;
  }
}
.text-name {
  color: white;
  margin-left: 10px;
  font-size: 14px;
  @include respond-to("medium") {
    font-size: 19px;
  }
  @include respond-to("large") {
    font-size: 20px;
  }
}
.album-text {
  margin-top: 3px;
  font-weight: normal;
  font-size: 17px;
  @include respond-to("large") {
  }
}
