$border: 2px solid rgb(102, 17, 199);
$border1: 2px solid rgb(2, 2, 19);
$primaryColor: #27275df2;
$imagecardColor: rgb(102, 17, 199);
$secondaryColor: rgb(2, 2, 19);
$placeholderColor: rgb(109, 100, 100);
