.album-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  // justify-content: center;
  // justify-content: center;
  flex-direction: column;
  background-color: rgb(2, 2, 19);
}

.album-card {
  overflow: scroll;
}
.audio {
  background-color: black;
}
.btn-login {
  width: 20px;
}
.album-type {
  font-weight: normal;
}
.preview-btn {
  // color: white;
  border: none;
}
.previous-btn {
  margin-left: 0;
  margin-left: 9px;
  margin-top: 6px;
}
.btn-box {
  width: 100%;
}
.album-audio {
  display: flex;
  flex-direction: column;
  background-color: black;
}
