.album-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  // justify-content: center;
  // justify-content: center;
  flex-direction: column;
  background-color: rgb(2, 2, 19);
}

.album-card {
  overflow: scroll;
}
.audio {
  background-color: black;
}
.btn-login {
  width: 20px;
}
.album-container-box {
  margin-top: 25px;
  display: flex;
}
.album-box {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.album-text {
  margin-top: 3px;
  font-weight: normal;
}
.album-name {
  font-weight: bold;
  margin: 29px 0 25px 0;
}
.album-type {
  font-weight: normal;
}
.preview-btn {
  background-color: black;
  color: white;
  border: none;
}
.previous {
  margin-left: 0;
}
.btn-box {
  width: 100%;
}
.album-audio {
  display: flex;
  flex-direction: column;
}
.text-name {
  margin-left: 10px;
}
.album-width {
  width: 100%;
}
