<div class="container">
  <h1>Album details</h1>
  <button (click)="goBack()">Previous page</button>

  <div *ngIf="artistOfAlbums$ | async as artistalbums">
    <h1>{{ artistalbums.name }}</h1>
    <img src="{{ artistalbums.images[0].url }}" />
  </div>

  <div *ngIf="albumsOfArist$ | async as albums">
    <div *ngFor="let album of albums">
      <i class="fas fa-music"></i>
      <h3>{{ album.name }}</h3>
      <!-- <a href="{{ album.preview_url }}"><button>preview song</button></a> -->
      <audio controls class="audio">
        <source src="{{ album.preview_url }}" type="audio/ogg" />

        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>
