<div class="container">
  <h1>Album's</h1>
  <button (click)="goBack()">Previus page</button>
  <div class="album" *ngIf="artistsAlbums$ | async as albums">
    <div *ngFor="let album of albums">
      <div class="album-details">
        <div>
          <h3>
            <a routerLink="/album/{{ album.id }}">{{ album.name }}</a>
          </h3>

          <div class="image-container">
            <img src="{{ album.images[0].url }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
