<div class="container">
  <div class="search-container">
    <div class="text-container">
      <div class="btn-box">
        <button class="back-button" (click)="goBack()">
          <i class="fas fa-step-backward"></i>Back
        </button>
      </div>
      <h1 class="artist-heading">
        <i class="fas fa-user-music "></i>Future's Album
      </h1>
    </div>

    <div class="search-card" *ngIf="artistsAlbums$ | async as albums">
      <div class="artist-card" *ngFor="let album of albums">
        <!-- <div class="album-details"> -->
        <!-- <div> -->

        <div class="artist-card-img">
          <img class="artist-img" src="{{ album.images[0].url }}" />
        </div>
        <h4>
          <a class="text" routerLink="/album/{{ album.id }}">{{
            album.name
          }}</a>
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
