@import "../../../styles/styles.scss";
.search-svg-box {
  width: 100%;
  margin-top: 240px;
}
.search-svg {
  width: 100%;
  //   height: 721px;
}
.search-text-box {
  margin: 0;
}
.search-box {
  width: 100%;
}
