<div class="container">
  <div class="search-container">
    <header class="header-text">
      <h1 class="search-heading">
        <i class="fas fa-search">Search</i>
      </h1>
      <form class="search-box" #searchForm="ngForm">
        <div class="  form-group">
          <input
            type="text"
            id="search"
            name="search"
            class="form-control text-box"
            placeholder="search your Music"
            [(ngModel)]="searchStr"
            (keyup)="searchMusicByArtist()"
          />
        </div>
      </form>
    </header>

    <div class=" search-svg-box" *ngIf="!(searchResponse$ | async)">
      <img class="search-svg" src="assets/image/picture.svg" />
    </div>

    <!-- ********************************* -->

    <div class="card-container" *ngIf="searchResponse$ | async">
      <div class="card" *ngFor="let res of searchResponse$ | async">
        <div class="card-img">
          <img class="img" src="{{ res.images[0].url }}" />
        </div>
        <h4 class="search-text-box">
          <a class="text search-text" routerLink="/artist/{{ res.id }}">{{
            res.name
          }}</a>
        </h4>

        <!-- <h5 class="text">{{ res.type }}</h5> -->
        <!-- <div>
          <strong>Genere</strong>
          <span *ngFor="let genere of res.genres">
            <h4>{{ genere }}</h4>
          </span>
        </div> -->
      </div>
    </div>
  </div>
</div>
