<div class="container">
  <div class="search-container">
    <h1 class="search-heading">Search Your Artist</h1>
    <form #searchForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          id="search"
          name="search"
          class="form-control text-box"
          placeholder="search your Music"
          [(ngModel)]="searchStr"
          (keyup)="searchMusicByArtist()"
        />
      </div>
    </form>
  </div>
  <!-- ********************************* -->

  <div class="search-card" *ngIf="searchResponse$ | async">
    <div class="search-card-item" *ngFor="let res of searchResponse$ | async">
      <h2>
        <a routerLink="/artist/{{ res.id }}">{{ res.name }}</a>
      </h2>
      <div>
        <strong>Genere</strong>
        <span *ngFor="let genere of res.genres">
          <h4>{{ genere }}</h4>
        </span>
      </div>
    </div>
  </div>
</div>
